/* 
Colors of the DOC:
blue  --  #245076
gold  --  #d9c13e
*/


#rapper{
    color:blue;
    background-color:#245076;
    height:100px;
}
body{
    background-color:#d9c13e;
}
#logo img{
    width:400px;
    padding:40px;
    margin:20px;
}